

        
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&family=Lobster&family=Oswald:wght@600&family=Rock+3D&family=Yanone+Kaffeesatz:wght@400;500;546&display=swap');





body {
    height:3000px;
    background-color:#ff7db8;
}
*{
    
    
    margin:0;
}

#NavTop{
    
    border:0px solid white;
    height:50px;
    justify-content:flex-end;
    display:flex;
    
    background-color:white;
    border-bottom-color:black;
    border-bottom-width:1.5px;
    width:100%;
    transition:all .5s;
    top:0;
    position:fixed;
    }

#NavBottom{
    
    border:0px solid white;
    height:45px;
    background-color:white;
    display:flex;
    border-top-color:black;
    border-top-width:1.5px;
    width:100%;
    
    transition:all .5s;
    bottom:0;
    position:fixed;
    
}
#logo_name{
    margin:auto;
    margin-left:2px;
    font-size:30px;
    letter-spacing:3px;
     color:transparent ;
    -webkit-background-clip:text;
    background-image:linear-gradient(#ee2a7b,#ff7db8);
    font-weight:bold;
    font-family:  'dosis',cursive;

}


#flogo:hover{
    
    font-size:31px;
    
    color:transparent ;
    -webkit-background-clip:text;
    background-image:linear-gradient(#ee2a7b,#ff7db8);
    transition:all .2s;
}
#flogo{
    
    font-size:28px;
    margin:auto;
}
.logo1{
       
    margin-left:14px;    
    margin:auto;
    
    color:black;
    float:right;
    
    
    
    
}

.logo{
    
    margin:auto;
    color:black;
    
    
}
